.stats{
  width:15%;
  background-image:
    linear-gradient(
      to right,
      #fda085, #f06d06
    );
  color: white;
  border-radius: 0 15px 15px 0;
  margin-right: 100px;
  box-shadow: 0 10px 16px -3px #777;
  padding: 20px;
}
