.new-entry-form{
  background: white;
  width: 700px;
  height: 300px;
  box-shadow: 0 10px 16px -3px #777;
}
.modal-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
 
}
