.journal-entry{
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 16px -3px #777;
  min-height: 350px;
  width: 700px;
  text-align: center;
  padding:20px;
  margin:20px;
}
.entry-container{
  display: flex;
  justify-content: space-around
}
