.login-form{
  display: flex;
  flex-direction: column; 
  width: 350px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 10px;
  box-shadow: 0 10px 16px -3px rgb(42, 42, 43);
  align-items: center;
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}


.login-btn{
  width: 200px;
  background-image:
    linear-gradient(
      to right, 
      #4AC29A, rgb(121, 204, 189)
    );
  color: white;
  height: 30px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  margin-top: 40px;
  transition: 1s;
}

.login-btn:hover{
  background-image:
    linear-gradient(
      to right, 
      red, #f06d06
    );
  transform: scale(1.2)
}

.login-input{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}


input {
  text-align: center;
}